.slider-answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    height: fit-content;
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
}

.slider-answer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
    width: 100%;
}

.slider {
    width: 70vh;
}

.numberOptions {
    display: flex;
    width: 70vh;
    justify-content: space-between;
    color: white;
}
.slider-answer p {
    font-size: x-large;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #e77d11; 
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer; 
}