.slider-answers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    width: 70vh;
}

.numberOptions {
    display: flex;
    width: 70vh;
    justify-content: space-between;
    color: white;
}
.numberOptions h1 {
    font-size: 30px;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #e77d11; 
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer; 
}