.home-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 5vh - 15vh);
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  color: white;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.tagline {
  font-size: 2rem;
  height: 5vh;
  font-weight: bold;
  color: white;
  text-align: center;
  max-width: 100%;
}

.quizzes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-end;
  flex-grow: 1;
  align-items: stretch;
  gap: 4rem;
}

.quiz-box {
  width: 45vw;
  min-height: 350px; /* gives it visual room */
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.quiz-description{
   margin-bottom: 16px;
   font-size: 20px;
   text-align: center;
   padding: 1rem;
   width: 35vw;
   background: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(3px);
}

.quiz-title{
    display: flex;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    color: white;
    padding-top: 5rem;
}

.quiz-button{
    margin-top: 10rem;
    align-self: center;
    font-size: 25px;
    width: 250px;
    height: 60px;
    z-index: 2;
}

.homeImgBtn{
  width: 100px;
  height: 100px;
}

.quiz-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.quiz-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.quiz-button:hover span {
    padding-right: 25px;
  }
  
.quiz-button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .planet {
    position: absolute;
    bottom: -50vh; /* places planet inside the bottom edge */
    left: 50%;
    transform: translateX(-50%);
    width: 45vw;
    height: 45vw;
    z-index: 1;
    pointer-events: none;
    animation: float 4s ease-in-out infinite;
    filter: drop-shadow(0 0 15px rgba(255,255,255,0.3));
  }

.api_warning {
  position: fixed;
  top: 35px;
  left: 50%;
  transform: translateX(-50%); 
  width: auto;
  z-index: 9999;
}