.quiz-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80vh;
    border: none;
}

.quiz-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:2px solid;
    border-radius: 10px;
    padding: 24px;
    margin: 3.5%;
    width: 40%;
    height: 80%;
    color: white;
}

.quiz-description{
   margin-bottom: 16px;
   font-size: 20px;
   text-align: left;
}

.quiz-title{
    display: flex;
    font-size: 40px;
    text-align: left;
    font-weight: 500;
    color: white;
}

.quiz-button{
    margin-top: auto;
    align-self: center;
    font-size: 25px;
    width: 250px;
    height: 60px;
}

.homeImgBtn{
  width: 100px;
  height: 100px;
}

.quiz-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.quiz-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.quiz-button:hover span {
    padding-right: 25px;
  }
  
.quiz-button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .planet {
    width: 200px;   /* Try 150px or 100px if still too big */
    height: 200px;  /* Keep it square for circular shape */
    object-fit: cover;
    border-radius: 50%;
  }