.detailed-main-container{
    margin: 40px;
    height: 70vh;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.return-button-box{
    text-align: left;
}

.header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 2px;
    font-size: 40px;
}

.topbuttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.topbuttons Button {
    height: 40px;
}

.content {
    width: 100%;
    text-align: center;
    padding: 40px;
    font-size: 20px;
}

.content .question {
    background-color: #000;
    /* margin: 0px 50px; */
    margin: 0px auto;
    width: 80%;
    padding: 10px 0px;
    border-radius: 10px;
    border-style: solid;
    border-color: #fff;
}

.content .question p {
    margin: 0px;
}

.text-input {
    width: 70vw;
    height: 20vh;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    padding: 10px;
}

.progressbarcontainer {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: visible;
}

.custom-progressbar{
    width: 80vw;
    height: 20px;
    margin: 0 auto;
}

.progress-bar {
    overflow: visible;
}

.progress {
    overflow: visible;
}

.progress-label {
    margin-left: auto;
    margin-right: -40px;
    transform: rotate(90deg);
    width: 12vh;
    height: 12vh;
    overflow:visible !important;
}


